.view-project-button{
    margin-bottom: 5px;
    height: 50px;
    align-content: center;
    cursor: pointer; 
}
.view-project-button button{
        background-color: transparent;
    border: 1px solid rgb(214, 214, 214);
    padding: 10px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
  transition: 
  background-color 0.3s ease-in-out,
   color 0.3s ease-in-out;
}
.view-project-button button:hover{
     background-color: #FF6C2D;
    color: black;
    border: none;
}