.sign-in-container{
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(174, 169, 169);
   
}
.sign-in-form{
    margin-top: 50px;
    /* background-color: dodgerblue; */
    /* width: 100%; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sign-in-form input{
    /* height: 100px; */
      width: 90%;
  padding: 10px 12px;
  border: 1px solid #000000;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.sign-in-form input:focus {
    border-color: #ff6c2d;
  outline: none;
  box-shadow: 0 0 4px rgba(242, 191, 141, 0.3);
}
.sign-in-container label{
        font-weight: 500;
display: block;
margin-bottom: 8px;
}
.sign-in-input{
    height: 80px;
    background-color: darkgray;
}
