
.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px; 
}

.popup-buttons .call-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: #FF6C2D;
  color: black;
  transition: all 0.3s ease-in-out;
}

.popup-buttons .call-btn:hover {
  background-color: white; 
}

.popup-buttons .close-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: #ddd;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.popup-buttons .close-btn:hover {
  background-color: #bbb; 
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  opacity: 0;               
  transition: opacity 0.3s ease-in-out; 
}

.popup-overlay.show {
  opacity: 1;              
}

.popup-content {
  background: black;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;

}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px; 
}

.popup-buttons .call-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: #FF6C2D;
  color: black;
  transition: all 0.3s ease-in-out;
}

.popup-buttons .call-btn:hover {
  background-color: white; 
}

.popup-buttons .close-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: #ddd;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.popup-buttons .close-btn:hover {
  background-color: #bbb; 
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  opacity: 0;               
  transition: opacity 0.3s ease-in-out; 
}

.popup-overlay.show {
  opacity: 1;              
}

.popup-content {
  background: black;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;

}
