*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "Montserrat", sans-serif;;
}
.link-style{
  text-decoration: none;
  color: inherit;
}
/* .link-style:hover{
  color: #742605;
 
} */